.padding_largo {
  position: fixed;
  width: 100%;
  z-index: 50;
  background: #F1F1F1;
  padding-bottom: 70px;
  transition: all 0.3s ease;
}

.padding_corto {
  padding-bottom: 0px;
}

.content_icons {
  transform: translateY(40px);
   transition: all 0.3s ease;
  display: flex;
}

.esconder {
  transform: translateY(-100px);
}

.hexa {
  transform: translateY(50px);
  transition: transform 0.3s ease;
}

.hex {
  padding-bottom: 0px;
  transform: translateY(-30px);
}

.header_normal {
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  /* max-width: 1000px; */
  max-width: 50rem;
  transition: max-width 0.3s ease;
}
.header_chico {
  max-width: 30rem;
}
